body {
  color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
}

#root {
  max-width: 1080px;
  width: 100vw;
}

input {
  padding: 7px;
  outline: none;
  border: 1px solid gray;
  margin: 1px 0;
}
